.header {
  background-color: #00aed6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 0.1s linear;
}

.header:hover {
  background-color: black;
  color: #00aed6;
}

.logo {
  margin: 0;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
}
